html {
    background-color: aliceblue;
    background-image: url("images/mountain-bg.webp");
    background-size: cover;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}


img {
    float: left;
    border-style: solid;
    margin-right: 10px;
    border-radius: 25px;
}

/*
img:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scaled(1.15);
    transform: scale(1.15);
    
}
*/


.main p {
    text-align: justify;
    background-color: rgba(255, 251, 251, 0.336);
    padding: 15px;
    font-size: 20px;
    border-style: none;
    border-radius: 25px;
   
}

footer {
    position: fixed;
    bottom: 0;
    left: 5;
}

img:hover {
    opacity: 0.5;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​